/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

input.ng-touched.ng-pristine,
select.ng-touched.ng-pristine {
  border-color: inherit;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-color: #f4516c;
}
input.ng-touched.ng-valid,
select.ng-touched.ng-valid {
  border-color: #34bfa3;
}