<form [formGroup]="upsertForm" (ngSubmit)="onSubmit()">
<label>Name
    <input type="text" formControlName="name">
</label>
<label>Short Form
    <input type="text" formControlName="shortForm">
</label>
<div formArrayName="dynamic">
    <div *ngFor="let alias of getDynamicControls().controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Field:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>
  <button type="submit" [disabled]="!this.upsertForm.valid">Save</button>
</form>
<button (click)="onClick()">Add Control</button>